---
title: 'Viewing Test Results'
description: How to Viewing Test Results
search.appverid: MET150
author: Tinacyt
ms.author: tinachen
manager: rshastri
audience: Software-Vendor
ms.topic: troubleshooting
ms.date: 10/13/2022
ms.service: test-base
ms.localizationpriority: medium
ms.collection: TestBase-M365
ms.custom:
ms.reviewer: Tinacyt
f1.keywords: NOCSH
---

# Viewing Test Results

[!INCLUDE [test-base-deprecation](./includes/test-base-deprecation.md)]

Logging into the Azure portal, you can see application test results at scheduled intervals against selected updates from the Overview page of your Test Base account.  
Clicking your Test Base account name, and then clicking links under the Insights category in the left-hand sector of the page, as follows:

- Test Summary — general overview of test results and status
- Security Update Results — overview and details of security update-related application test results
- Feature Update Results — overview and details of feature update-related application test results

From the latter two pages, you'll have detailed views of test results that focus on the following areas:

- Script executions
- Reliability data
- Memory utilization
- CPU utilization

The sections that follow describe how to access and review the results of the previously specified testing areas.
